@import url('https://fonts.googleapis.com/css?family=Roboto+Condensed&display=swap');

* {
    box-sizing: border-box;
    transition: all ease-in-out 250ms;
}

body {
    margin: 0;
    font-family: Avant Garde,Avantgarde,Century Gothic,CenturyGothic,AppleGothic,sans-serif;
    text-align: center;
}

img {
    max-width: 100%;
    height: auto;
}

.container {
    width: 95%;
    max-width: 70em;
    margin: 0 auto;
}

.clearfix::after,
section::after,
footer::after {
    content: '';
    display: block;
    clear: both;
}

/* colomn system
============================== */

[class^=col-] {
    width: 100%;
    margin-top: 1em;
}

[class^=col-]:first-child {
    margin-top: 0;
}

.col-1 {
    width: 33.333333%;
    float: left;
}

@media (min-width: 43rem) {

    [class^=col-] {
        float: left;
        padding: 0 .5em;
        margin-top: 0;
    }

    [class^=col-]:first-child {
        padding-left: 0;
    }

    [class^=col-]:last-child {
        padding-right: 0;
    }

    .col-3 {
        width: 50%;
    }

    .col-1 {
        width: 16.6666%;
    }
}

/* typography
============================== */

h1 {
    font-weight: 300;
    font-size: 2rem;
    margin-top: 0;
}

p {
    margin-top: 0;
    line-height: 1.5;
}

p:last-of-type {
    margin-bottom: 0;
}

.nazvanie {
    font-size: 2.5rem;
    margin-bottom: 1.5em;
    font-weight: 900;
    margin-top: 1em;
}

.nazvanie span {
    font-weight: 300;
    display: block;
    font-size: .85em;
}

.nazvanie-cta {
    margin: 0 0 .5em;
}

.unstyled-list {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

@media (min-width: 60rem) {

    p {
        font-size: 1.1rem;
        line-height: 1.5;
    }

    .nazvanie {
        font-size: 3.3rem;
    }
}

/* buttons 
=========================*/

.button {
    font-size: 1.15em;
    text-decoration: none;
    text-transform: uppercase;
    border-width: 2px;
    border-style: solid;
    padding: .2em 1.4em;
}

@media (min-width: 60rem) {
    .button {
        font-size: 1.5rem;
    }
}

.button-small {
    font-size: .8em;
    font-weight: 700;
}

.button-green {
    color: #00ff6c;
    border-color: #00ff6c;
}

.button-green:hover,
.button-green:focus {
    background-color: #00ff6c;
    color: #232323;
}

.button-dark {
    color: #232323;
    border-color: #232323;
}

.button-dark:hover,
.button-dark:focus {
    background-color: #232323;
    color: #00ff6c;
}

/* header
============================== */
header {
    display: inline-block;
    position: absolute;
    left: 0;
    right: 0;
    margin: 0.8em;
}

nav ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

nav li {
    display: inline-block;
    margin: .3em;
}

nav a {
    font-weight: 900;
    text-decoration: none;
    text-transform: uppercase;
    font-size: .9rem;
    padding: .5em;
    color: #fff;
}

nav a:hover,
nav a:focus {
    color: rgb(177, 177, 177);
}

@media (min-width: 60rem) {
    .logo {
        float: left;
    }

    nav {
        float: right;
    }
}

/* infor
============================ */
.infor {
    background-image: url(../img/back-gr1.jpg);
    background-size: cover;
    background-position: center;
    padding: 10em 0;
    color: #fff;
}

@media (min-width: 60rem) {
    .infor {
        height: 100vh;
        padding-top: 30vh;
    }
}

/* about
============================= */

.about-pic {
    background-color: #232323;
    padding: 4em;
    width: 100vw;
    margin-left: -2.5%;
    outline: 2px solid #00ff6c;
    outline-offset: -2.5em;
    color: #fff;
    position: relative;
}

.about-pic h1 {
    color: #00ff6c;
    position: absolute;
    left: 50%;
    transform: translate(-50%);
    top: .5em;
    background-color: #232323;
    padding: 0 .25em;
}

@media (min-width: 60rem) {

    .about {
        background-image: url(../img/back-gr2.jpg);
        background-repeat: no-repeat;
        padding-bottom: 10em;
    }

    .about-pic {
        width: 40%;
        padding: 5em;
        margin-left: -2.5%;
        text-align: left;
        top: -4em;
        box-shadow: 0 0 4em 0 rgba(0,0,0,.9);
    }

    .about-pic h1 {
        left: 4.3rem;
        transform: translateX(0);
    }
}

/* portfolio
======================= */

.portfolio {
    margin: 3em 0 0;
}   

.port-item {
    margin: 0;
    position: relative;
}

.port-item img {
    display: block;
}

.port-discr {
    position: absolute;
    z-index: 100;
    bottom: 1.5em;
    left: 3em;
    right: 3em;
    color: white;
    background-color: rgba(0,0,0,.75);
    padding-bottom: 1em;
    
}

.port-discr p {
    margin: .5em;
}

@media (min-width: 37rem) {
    .port-item {
        width: 50%;
        float: left;
    }
}

@media (min-width: 60rem) {
    .port-item {
        width: 33.3333333333333333%;
        float: left;
        overflow: hidden;
    }

    .port-discr {
        transform: translateY(150%);
    }

    .port-item:hover .port-discr {
        transform: translateY(0%);
    }
}

/* CTA
============================== */

.cta {
    background-color: #00ff6c;
    padding: 5.5em 0;
}

/* Footer
============================== */

footer {
    background-color: #232323;
    color: #fff;
    text-align: left;
    padding: 4em 0;
}